<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SycamoreAPI Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SycamoreAPI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A0F24E819F620CE008C684C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0F24FD19F620CF008C684C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD1D0DF19F89B9A00E6AA88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AD1D0E919F89B9A00E6AA88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
